li {
    list-style: none;
}
.header {
    background-color: rgba(247, 232, 29, 0.747);
    color: white;
    height: 100px;
    margin: -20px; 
    z-index: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 105%;            
}
.header-logo {
    float: left;
    font-size: xx-large;
    padding: 20px;    
    margin-left: 50px;
    margin-top: 16px;
    color: white;
}
.header-list li{
    float: left;
    padding: 30px 20px;    
}
.header-list a {
    color: white;
}